<p class="tremark"><b>（1）Gene：</b>基因名称</p>
<p class="tremark"><b>（2）Alt_Case：</b>Case中此基因的突变的allele数量</p>
<p class="tremark"><b>（3）Ref_Case：</b>Case中没有此基因的突变的allele数量</p>
<p class="tremark"><b>（4）Alt_Control：</b>Control中此基因的突变的allele数量</p>
<p class="tremark"><b>（5）Ref_Control：</b>Control中没有此基因的突变allele数量</p>
<p class="tremark"><b>（6）Pvalue：</b>Fisher检验得到的P值</p>
<p class="tremark"><b>（7）OR：</b>Fisehr检验得到的OR值</p>
<p class="tremark"><b>（8）CI95：</b>OR值的95%置信区间</p>
<p class="tremark"><b>（9）BONF：</b>Bonferroni校正后的P值</p>
<p class="tremark"><b>（10）HOLM：</b>Bonferroni Step-down(Holm)矫正后的P值</p>
<p class="tremark"><b>（11）FDR_BH：</b>FDR BH(Benjamini and Hochberg)矫正后的P值</p>
<p class="tremark"><b>（12）FDR_BY：</b>FDR BY(Benjamini & Yekutieli)矫正后的P值</p>
<p class="tremark"><b>（13）Gene：</b>基因名称</p>
<p class="tremark"><b>（14）Sample：</b>含有此基因突变的样本名，逗号分割</p>