<p class="tremark">注：DisGeNet分析注释部分</p>
			
<p class="tremark"><b>（1）geneId：</b> Entrez Gene Identifier，来自NCBI</p>
<p class="tremark"><b>（2）associationType：</b> 关联类型，包括Altered Expression，Biomarker，Chromosomal Rearrangement，Fusion Gene，Genetic Variation，Germline Causal Mutation，Germline Modifying Mutation，Modifying Mutation，PostTranslational Modification，Somatic Modifying Mutation，Susceptibility Mutation，Therapeutic</p>
<p class="tremark"><b>（3）pmid：</b> PubMed Unique Identifier，是 PubMed 搜索引擎中收录的生命科学和医学等领域的文献编号</p>
<p class="tremark"><b>（4）score：</b> DisGENET GDA Score（DisGENET score for the Gene Disease association），该打分取值范围为0-1，值越大表示相关性越高</p>
<p class="tremark"><b>（5）originalSource：</b>该基因-疾病关联原始报道来源，取值为 BEFREE，GAD，LHGDN，TD_human，HPO，UNIPROT，ORPHANET，CTD_mouse 及其组合</p>
<p class="tremark"><b>（6）diseaseName：</b>疾病名称，来自UMLS</p>
<p class="tremark"><b>（7）diseaseType：</b>disease，phenotype 和 group 三种</p>
<p class="tremark"><b>（8）geneSymbol：</b>Official Gene Symbol，来自 NCBI</p>