<p class="tremark"><b> ID: </b> GO term/KEGG pathway的ID
<p class="tremark"><b> Description: </b> GO term/KEGG pathway的描述
<p class="tremark"><b> GeneRatio: </b> 富集基因比例，即富集在GO term或KEGG pathway的候选基因数占能够对应到全部GO term或KEGG pathway数据库的候选基因数的比例
<p class="tremark"><b> BgRatio: </b> 背景基因比例，即该GO term或KEGG pathway包含的人类基因数占能够对应到全部GO term或KEGG pathway数据库的人类基因数的比例
<p class="tremark"><b> pvalue: </b> 富集分析得到的 p-value
<p class="tremark"><b> p.adjust: </b> 校正后的 p-value
<p class="tremark"><b> qvalue: </b> 富集分析得到的 q-value
<p class="tremark"><b> geneID: </b> 富集在相应GO term或KEGG pathway的基因列表
<p class="tremark"><b> Count: </b> 富集在相应GO term或KEGG pathway的基因个数
