<p class="tremark"> （1）NO：连锁候选区域</p>
<p class="tremark"> （2）Chr：染色体编号</p>
<p class="tremark"> （3）PosStart：候选区域在染色体上的起始坐标</p>
<p class="tremark"> （4）PosEnd：候选区域在染色体上的终止坐标</p>
<p class="tremark"> （5）cM：候选区域大小，用厘摩（cM）表示</p>
<p class="tremark"> （6）SNPs：候选区域内连锁标记SNP的数量</p>
<p class="tremark"> （7）maxLOD：候选区域内最大的LOD值</p>
<p class="tremark"> （8）maxSNP：候选区域内最大LOD值对应的连锁标记SNP编号，相同LOD值的SNP并列显示</p>
<p class="tremark"> （9）minLOD：候选区域内最小的LOD值</p>
<p class="tremark"> （10）minSNP： 候选区域内最小LOD值对应的连锁标记SNP编号，相同LOD值的SNP并列显示</p>
<p class="tremark"> （11）GeneList：位于候选区域内的基因列表，后续分析需重点关注</p>