<p class="tremark">注：注释内容包括8个部分，分别为优先级信息（1），基因及区域注释（2-17），变异位点信息（18-20），数据库（频率）注释（21-30），保守（有害）性预测（31-40），基因功能及通路注释（41-53）, 组织特异性表达注释(54-58) , 患者及正常人基因共有情况(59--) 。</p>

<p class="tremark"><b>&nbsp;&nbsp;第1项为优先级信息————Novogene通过积累公开文献中的筛选标准，科学制定位点优先级。优先级显示了该位点重要性程度，仅作为指导和参考。</b></p>
<p class="tremark"><b>（1）Priority：</b>优先级，H:High，表示该位点不在genome repeat 区域（即genomicSuperDups和Repeat 没有注释信息），千人基因组数据库中频率小于0.01，该位点位于exonic 或者 splicing 区域，且该位点经SIFT、Polyphen、MutationTaster、CADD预测至少有一个软件预测为有害；M:Medium，表示该位点不在genome repeat 区域（即genomicSuperDups和Repeat 没有注释信息），千人基因组数据库中频率小于0.01，该位点位于exonic 或者 splicing 区域；L:Low，表示该位点不满足H或M条件的其他所有的突变。国际小鼠表型分析联盟（International Mouse Phenotyping Consortium ，IMPC）对小鼠进行大规模基因敲除，并进行表型分析。优先级（H、M、L）后面的符号（*、+、-）表示： *：在小鼠大规模基因敲除表型分析中，基因为lethal基因（完全致死基因） +：在小鼠大规模基因敲除表型分析中，基因为subviable基因（可能致死基因：＜12.5%的胚胎存活率） -：在小鼠大规模基因敲除表型分析中，基因为vialbe（可存活基因）</p>

<p class="tremark"><b>&nbsp;&nbsp;第2-17项为基因及区域注释信息————变异位点所处的基因（对应的氨基酸）可能直接与疾病相关。Novogene对变异位点进行已知基因结构及所处区域注释，有助于老师了解此变异位点对应的基因结构及所处区域信息。</b></p>
<p class="tremark"><b>（2）CHROM：</b> 染色体</p>
<p class="tremark"><b>（3）POS：</b> 变异位点在染色体上的绝对位置</p>
<p class="tremark"><b>（4）avsnp：</b> dbSNP注释ID</p>
<p class="tremark"><b>（5）REF：</b> 参考基因组碱基型</p>
<p class="tremark"><b>（6）ALT：</b> 样本基因组碱基型</p>
<p class="tremark"><b>（7）QUAL：</b> 变异的质量值，值越高越好。文献中常见以变异的质量值大于20为过滤标准</p>
<p class="tremark"><b>（8）GeneName：</b> 基因名称注释，列出该变异所在的基因</p>
<p class="tremark"><b>（9）Description:</b> 变异位点所在基因的描述</p>
<p class="tremark"><b>（10）Func：</b>对变异位点所在的区域进行注释（exonic, splicing, UTR5, UTR3, intronic, ncRNA_exonic, ncRNA_intronic, ncRNA_UTR3, ncRNA_UTR5, ncRNA _splicing, upstream, downstream, intergenic）。说明：1、exonic应该包括coding exonic portion、UTR3和UTR5，但ANNOVAR注释结果中exonic只代表coding exonic portion。2、当一个变异位点位于多个基因或转录本，且功能不同，这些功能按照优先级排序，该列输出优先级最高的功能类型：Exonic = splicing > ncRNA> > UTR5/UTR3 > intron > upstream/downstream > intergenic。 当一个变异既位于一个基因的UTR3，又位于另一个基因的UTR5时，该列输出"UTR5,UTR3"。当一个变异既位于一个基因的downstream，又位于另一个基因的upstream时，该列输出"upstream,downstream "</p>
<p class="tremark"><b>（11）GeneDetail：</b> 描述UTR、splicing、ncRNA_splicing或intergenic区域的变异情况。当Func列的值为exonic、ncRNA_exonic、intronic、ncRNA_intronic、upstream、downstream、upstream；downstream、ncRNA_UTR3、ncRNA_UTR5时，该列为空；当Func列的值为exonic;splicing时，表示该位点位于某些转录本的exonic区，另一些转录本的splicing区，这种情况下，GeneDetail会给出该位点对于转录本splicing的影响，例如，NM_172210:exon6:c.1090+5C>A，表示该变异位于转录本NM_172210上，exon6表示第6个人外显子，c.1090+5C>A表示cDNA的1090bp下游5bp处发生由C到A的突变；当Func列的值为intergenic时，该列格式为dist=1366;dist=22344，表示该变异位点距离两侧基因的距离</p>
<p class="tremark"><b>（12）ExonicFunc：</b> 外显子区的SNV 或 InDel变异类型（SNV的变异类型包括synonymous_SNV, missense_SNV, stopgain, stopgloss和unknown；InDel的变异类型包括frameshift insertion, frameshift deletion, stopgain, stoploss, nonframeshift insertion, nonframeshift deletion和unknown）</p>
<p class="tremark"><b>（13）AAChange：</b> 氨基酸改变，只有当Func列为exonic或exonic;splicing时，该列才有结果。按照每个转录本进行注释（例如，AIM1L: NM_001039775:exon2:c.C2768T:p.P923L，其中，AIM1L表示该变异所在的基因名称，NM_001039775表示该变异所在的转录本ID，exon2表示该变异位于转录本的第二个外显子上，c.C2768T表示该变异引起cDNA在第2768位上由C突变为T，p.P923L表示该变异引起蛋白序列在第923位上的氨基酸由Pro变为Leu）</p>
<p class="tremark"><b>（14）Gencode：</b> Gencode注释的基因名称</p>
<p class="tremark"><b>（15）cytoband：</b>该变异位点所处的染色体区段（利用Giemas染色观察得到的）。如果变异位点跨过多个区段，用短横线连接</p>
<!--<p class="tremark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;evofold：由EvoFold程序通过RNA二级结构预测得到的保守功能性RNA</p>-->
<p class="tremark"><b>（16）genomicSuperDups：</b>检测该变异位点是否位于重复片段（segmental duplication）中。重复区域中检测到的遗传变异大多数是由于序列比对错误造成的，所以被注释到segmental duplications的变异需要谨慎对待，很可能是假阳性位点。给出两个值，一是Name，表示基因组中与该变异位点所在区域相似的片段的位置；二是Score，表示两个相似片段的序列一致性。例如，Score=0.994828;Name=chr19:60000，表示chr19:60000所在片段跟该变异位点所在片段相似，序列一致性为0.994828,，范围0~1</p>
<p class="tremark"><b>（17）Repeat：</b> 重复序列注释信息，重复序列来源于RepeatMasker注释。例如， Score=180;Name="1385:(CACCC)n(Simple_repeat)"。Score表示该repeat的分值；Name由两部分构成，一部分(CACCC)n是repeat的名称，另一部分Simple是repeat的类别。只要有注释信息，就表明该变异位于散在重复序列或低复杂度序列中；这些区域容易出现比对错误，所以该区域的变异位点可靠性不高</p>


<p class="tremark"><b>&nbsp;&nbsp;第18-20项为变异位点信息注释————此部分信息为变异位点的详细信息，包括变异位点的覆盖深度，突变前后碱基型和纯杂合信息等。变异位点的信息能在家系分析或者筛选中起到重要的作用。</b></p>
<p class="tremark"><b>（18）Genotype（GT：DP：AD）：</b> 变异软件检测的变异位点信息</p>


	<!--用SAMtools检测SNP/indel-->
	<p class="tremark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GT：该位点基因型（Genotype）。0代表Allele和REF相同，1、2、3等代表Allele和REF不同；纯合：0/0，1/1；杂合：0/1</p>
	<p class="tremark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DP: 该位点测序深度（覆盖的总reads数）</p>
	<p class="tremark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AD：以逗号隔开的两个值，这两个值分别表示覆盖到REF和ALT碱基的reads数</p>

	<!--
	<p class="tremark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SP: 链偏好性的pvalue的估计值（Phred转化）</p>-->


<p class="tremark"><b>（19）Ori_REF：</b> 该位点在VCF文件中REF列的值。对于InDel，VCF文件中REF的值可能跟本文件REF列的值不一致，因为使用ANNOVAR注释时，用bcftools norm对InDel位点进行了left-normalization，导致InDel注释结果文件中的REF和ALT比VCF文件中的REF、ALT短</p>
<p class="tremark"><b>（20）Ori_ALT：</b> 该位点在VCF文件中ALT列的值，即该位点所有的突变碱基型。每个样本的GT中0、1、2、…等编号是依据Ori_REF和Ori_ALT这两列进行编号的，0表示跟Ori_REF相同，1表示Ori_ALT的第一种突变碱基型。本文件ALT列的值对应Ori_ALT列中的一个，但可能不一致，因为使用ANNOVAR注释时，用bcftools norm对InDel位点进行了left-normalization，导致InDel的ALT列的值比其在VCF文件中对应的ALT短</p>

<p class="tremark"><b>&nbsp;&nbsp;第21-30项为数据库（频率）注释————人群中有很多变异位点是多态性的（高频的），而真正有害的变异位点一般是低频的。Novogene对每个变异位点注释国际通用的部分数据库中的频率，有助于了解这个变异位点发生的频率高低的信息，协助找出致病突变位点。</b></p>
<p class="tremark"><b>（21）1000g_Chinese：</b> 给出千人基因组计划数据的中国人群中，该变异位点上突变碱基的等位基因频率</p>
<p class="tremark"><b>（22）1000g_EAS：</b> 给出千人基因组计划数据的东亚人群中，该变异位点上突变碱基的等位基因频率</p>
<p class="tremark"><b>（23）1000g_ALL：</b> 给出千人基因组计划数据的所有人群中，该变异位点上突变碱基的等位基因频率，文献通常采用0.01的标准进行过滤</p>
<p class="tremark"><b>（24）esp6500si_all：</b> 国家心肺和血液研究所外显子组测序计划（NHLBI-ESP project，esp6500si_all数据库中包含SNP变异、InDel变异和Y染色体上的变异的所有个体中，突变碱基的等位基因频率（alternative allele frequency），文献中通常采用0.01的标准进行过滤</p>
<p class="tremark"><b>（25）GnomAD_ALL_AF：</b> GnomAD是The Genome Aggregation Database的简称，涵盖了来自不相关个体的123,136个外显子序列和15,496个全基因组序列，作为各种疾病特异性和群体遗传研究的一部分进行测序。GnomAD_ALL_AF指在所有人群中，该变异位点上突变碱基的等位基因频率，文献中通常采用0.01的标准进行过滤。</p>
<p class="tremark"><b>（26）GnomAD_ALL_AN：</b> GnomAD是The Genome Aggregation Database的简称，涵盖了来自不相关个体的123,136个外显子序列和15,496个全基因组序列，作为各种疾病特异性和群体遗传研究的一部分进行测序。GnomAD_ALL_AN指在所有人群中，该变异位点上突变碱基的等位基因的数目。</p>
<p class="tremark"><b>（27）GnomAD_EAS_AF：</b> GnomAD是The Genome Aggregation Database的简称，涵盖了来自不相关个体的123,136个外显子序列和15,496个全基因组序列，作为各种疾病特异性和群体遗传研究的一部分进行测序。GnomAD_EAS_AF指在所有亚洲人群中，该变异位点上突变碱基的等位基因频率，文献中通常采用0.01的标准进行过滤。</p>
<p class="tremark"><b>（28）GnomAD_EAS_AN：</b> GnomAD是The Genome Aggregation Database的简称，涵盖了来自不相关个体的123,136个外显子序列和15,496个全基因组序列，作为各种疾病特异性和群体遗传研究的一部分进行测序。GnomAD_EAS_AN指在所有亚洲人群中，该变异位点上突变碱基的等位基因基因的数目。</p>
<p class="tremark"><b>（29）NovoDb_WES：</b> 给出诺禾正常人外显子数据库中，该变异位点上突变碱基的等位基因频率</p>
<p class="tremark"><b>（30）NovoDb_WGS：</b> 给出诺禾正常人全基因组数据库中，该变异位点上突变碱基的等位基因频率</p>

<p class="tremark"><b>&nbsp;&nbsp;第31-40项为保守（有害）性注释————个体中的突变往往非常多（全基因组范围内能达到3.6M-4.4M），而真正有害的突变却是罕见的，有很多根据变异位点的保守性等信息进行有害性预测的软件能帮助我们进行突变位点的有害性评估。Novogene采用国际惯用的变异有害性预测软件对突变位点的有害性进行预测，协助找出真正有害的突变位点。</b></p>
<p class="tremark"><b>（31）dbscSNV_SCORE：</b> dbscSNV是预测突变是否影响splicing的注释数据库。dbscSNV基于多种预测突变是否影响splicing的软件，通过Ada和RF两种机器学习方法得到两个综合的预测分值。建议使用0.6作为判定阈值，即dbscSNV两个分值中至少一个大于0.6，认为突变可能影响剪接。。</p>
<p class="tremark"><b>（32）spidex：</b> 一种机器学习方法用来预测基因突变如何影响RNA剪接，一般认为分值大于4小于-4影响拼接</p>
<p class="tremark"><b>（33）Interpro_domain：</b> Interpro数据库注释的突变位点所在蛋白质的结构域</p>        
<p class="tremark"><b>（34）SIFT：</b> SIFT分值(dbNSFP version 3.0)，表示该变异对蛋白序列的影响。逗号前后分别是SIFT_score和SIFT_pred：SIFT_score是SIFT分值，分值越小越可能“有害”，表明该SNP导致蛋白结构或功能改变的可能性大。SIFT_pred是预测结果，取值为T或者D。当该变异同时影响多个蛋白序列时，对每条蛋白序列有一个SIFT值，取最小值。D: Deleterious (sift<=0.05); T: tolerated (sift>0.05)）</p>
<p class="tremark"><b>（35）Polyphen2_HVAR：</b> 利用PolyPhen2基于HumanVar数据库预测该变异对蛋白序列的影响，用于孟德尔遗传病的诊断(dbNSFP version 3.0)。逗号前后分别是Polyphen2_HVAR_score和Polyphen2_HVAR_pred：Polyphen2_HVAR_score是PolyPhen 2分值，数值越大越可能“有害”，表明该SNP导致蛋白结构或功能改变的可能性大；Polyphen2_HVAR_pred是预测结果，取值为D或P或B（D: Probably damaging (>=0.909), P: possibly damaging (0.447<=pp2_hvar<=0.909); B: benign (pp2_hvar<=0.446)）</p>
<p class="tremark"><b>（36）Polyphen2_HDIV：</b> 利用PolyPhen2基于HumanDiv数据库预测该变异对蛋白序列的影响，用于复杂疾病(dbNSFP version 3.0)。逗号前后分别是Polyphen2_HDIV_score和Polyphen2_HDIV_pred：Polyphen2_HDIV_score是PolyPhen 2分值，数值越大越可能“有害”，表明该SNP导致蛋白结构或功能改变的可能性大；Polyphen2_HDIV_pred是预测结果，取值为D或P或B（D: Probably damaging (>=0.957), P: possibly damaging (0.453<=pp2_hdiv<=0.956); B: benign (pp2_hdiv<=0.452)）</p>
<p class="tremark"><b>（37）MutationTaster：</b> MutationTaster预测结果(dbNSFP version3.0)，表示该变异对蛋白序列的影响。逗号前后分别是MutationTaster_score和MutationTaster_pred：MutationTaster_score是MutationTaster分值，取值为0-1，分值越大，表示预测结果越可靠。MutationTaster_pred是预测结果，取值为A、D、N或者P。"A" ("Disease_causing_automatic"); "D" ("Disease_causing"); "N" ("Polymorphism"); "P" ("Polymorphism_automatic")。A和D都表示位点可能有害。</p>
<p class="tremark"><b>（38）CADD：</b> CADD是一种对SNV、InDel的有害性进行打分的工具，它整合多种信息来注释变异位点的功能；不仅预测编码区变异（包括同义突变和非同义突变的影响）的功能影响，还预测非编码区变异的功能影响。对于SNP，仅对CADD分值排名在前10%的SNP给出分值，‘.'表示CADD分值排名不在前10%。我们的注释结果中，有分值时，逗号前后分别是CADD和CADD_Phred；CADD列是初始分值，CADD_Phred是转换后的分值；没有分值，即为'.'时，表示CADD_Phred值小于10。CADD_Phred分值中，10表示score排名在前10%，20表示前1%，30表示前0.1%，因此，分值要求越低，能保留下来的位点越多。对于SNP，CADD作者建议CADD_Phred分值>15，文章中通常用10或15；InDel没有建议值</p>
<p class="tremark"><b>（39）gerp++gt2：</b> dbNSFP version3.0中的gerp++只包含coding variant的注释。为了注释所有变异位点的保守性，ANNOVAR整理了gerp++gt2，包含GERP++ 分值大于2的位点。越保守的位点发生变异，对于蛋白的影响越大。分值越高，位点越保守。通常，GERP++ 分值大于2的位点认为是保守位点，可能具有功能</p>
<p class="tremark"><b>（40）MCAP：</b> 是一种致病性似然分数，即孟德尔临床应用致病性（Mendelian Clinically Applicable Pathogenicity，MCAP）分数。MCAP用于分类的变量是基于现有致病性似然值结合对进化保守性和跨物种推断人类种群内频率的直接评估，MCAP作者建议的阈值分值大于0.025</p>

<p class="tremark"><b>&nbsp;&nbsp;第41-53项为基因功能及通路注释————对突变位点所在基因进行疾病相关数据库，通路及功能相关注释，能了解到该突变位点是否已知与某类型疾病相关，也能了解到该突变位点所在基因存在于哪些通路中，对了解该基因的生物学功能有重要意义。</b></p>
<p class="tremark"><b>（41）ClinVar：</b> 注释变异与人类健康之间的关系，临床意义的数据来源于NCBI ,格式为：CLINSIG=Pathogenic;CLNDBN=Immunodeficiency_38;CLNACC=RCV000162196.3;CLNDSDB=MedGen:OMIM;CLNDSDBID=CN221808:616126。CLINSIG代表变异位点在临床意义，可取值为Benign，Likely benign，Likely pathogenic，Pathogenic，drug response，not provided，Uncertain significance，other。CLINDBN代表变异位点相关的疾病名称。CLNACC代表变异在CLINVAR数据库中的accession号和版本号。CLNDSDB是疾病关联信息的数据库来源，CLNDSDBID是数据库中的编号。</p>
<p class="tremark"><b>（42）GWAS_disease_Pubmed_pValue：</b> 该变异位点在以往的GWAS研究中，被哪篇文章报导与疾病相关联，并给出该位点在文章中的p-value。格式为：分号分隔的pubmedID(p-value)</p>
<p class="tremark"><b>（43）OMIM：</b> 人类孟德尔遗传病数据库注释，给出与变异位点所在基因相关的遗传疾病名称</p>
<p class="tremark"><b>（44）HGMD_Disease_ID：</b> 人类基因突变数据库注释，给出该变异位点相关的疾病名称和在HGMD数据库中的ID。格式为：Disease_name（HGMD中的ID号）</p>
<p class="tremark"><b>（45）HGMD_Mutation_URL：</b> 给出该变异位点在人类基因突变数据库（HGMD）中收录的文献报道中的突变形式以及参考文献网址（注意：注释的是这个位点的突变，没有完全按照一样的参考碱基型和突变碱基型注释，比如一个位点发生了SNP突变，但按照发生在这个位点的突变注释，可能注释上的为InDel突变）。以“|”分隔的几部分分别表示突变的密码子，氨基酸，cDNA等信息。例如gCGC-TGC|Arg27Cys|c.79C>T|p.R27C 表示CGC 密码子第一个C突变成了T，第27位氨基酸由精氨酸变成半胱氨酸（p.R27C表示同样意思），突变在cDNA上第79位由C变成T。由于突变是密码子第一个碱基，在其左侧的碱基“G”也以小写字母体现。另外还有如IVS1 ds G-A +37|c.154+37G>A， IVS 表示内含子编号，“+” 表示下游，“-” 表示上游，"as" 表示 acceptor splice site，"ds" 表示 donor splice site；对于indel突变，如 TGCCCCC^408CCCccATGAATGGTC|c.1223_1224dupCC，突变本身以小写碱基表示，且会在两侧加上各10bp flanking碱基，以^开头的数字表示密码子的个数。突变的命名规则详情可参见<a href="http://www.hgvs.org/mutnomen/recs-DNA.html#number"  target=_blank>HGVS（HUMAN GENOME VARIATION SOCIETY）</a></p>
<p class="tremark"><b>（46）PubMedID：</b>给出与该突变位点或基因相关的PubMed文献编号，来源于HGMD和OMIM数据库，通过在<a href="https://www.ncbi.nlm.nih.gov/pubmed/"  target=_blank>Pubmed</a>中输入编号可检索到编号对应的文献，PubMed编号以|分隔。在HGMD中有突变时（即HGMD_Disease_ID 列不为'.'），第一个PubMed编号一般为HGMD数据库中突变点所对应的参考文献编号，其他的参考文献按照发表时间排列，编号顺序越靠前表示越是最近发表的，因此同一个基因的第一个PubMed编号可能不同，这是因为HGMD对应的参考文献是对应到位点的，而同一基因在HGMD中的不同突变位点的参考文献并没有合并到一起，以便于区分同一基因已知不同突变位点的参考文献编号</p>
<p class="tremark"><b>（47-49）GO_BP, GO_CC, GO_MF：</b> Gene Ontology数据库注释，GO是基因本体学注释，包括了基因的生物学过程（Biological Process，BP），细胞组分（Cellular Component，CC）和分子功能（Molecular Function，MF）的注释。给出变异位点所在蛋白质或者基因参与的生物学通路名称</p>
<p class="tremark"><b>（50）KEGG_PATHWAY：</b>全基因组及代谢途径数据库注释，给出变异位点所在基因参与的代谢通路名称 </p>
<p class="tremark"><b>（51）PID_PATHWAY：</b> 通路相互作用数据库注释，给出与变异位点所在蛋白相互作用的通路名称</p>
<p class="tremark"><b>（52）BIOCARTA_PATHWAY：</b> BIOCARTA数据库注释，给出变异位点所在基因参与的分子通路名称</p>
<p class="tremark"><b>（53）REACTOME_PATHWAY：</b>人类生物学反应及信号通路数据库注释，给出变异位点所在基因参与的信号通路名称</p>
<!--<p class="tremark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AD：该位点参考碱基和测序碱基的测序深度（格式REF, ALT）（Allelic depths）</p>
<p class="tremark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GQ：该位点的基因型质量值（Genotype Quality）</p>-->

<p class="tremark"><b>&nbsp;&nbsp;第54-58项为组织特异性表达注释————本部分展示Human Protein Atlas（HPA）数据库（Uhlén M, et al. Science, 2015）中记录的可编码蛋白的基因在正常人类的44个组织的蛋白表达情况和32个组织的RNA转录水平的检测结果，及HPA网站的相应可视化结果链接。</b></p>
<p class="tremark"><b>（54）Expression_summary：</b> 蛋白表达情况的概述，综合免疫组化结果、RNA结果、和亚细胞分布结果，描述基因在不同组织的表达分布情况和在亚细胞层面的表达分布情况。</p>
<p class="tremark"><b>（55）Expression_Visual_Link：</b> 基因的表达情况在HPA网站的可视化结果链接。</p>
<p class="tremark"><b>（56）RNA_tissue_category：</b> RNA组织表达情况概述，分为“At least five-fold higher mRNA levels in a group of 2-7 tissues <Group enriched>”，“At least five-fold higher mRNA levels in a particular tissue as compared to all other tissues <Tissue enriched>”，“At least five-fold higher mRNA levels in a particular tissue as compared to average levels in all tissues <Tissue enhanced>”，“Detected in 2-31 tissues but not elevated in any tissue <Mixed>”，“Detected in all tissues (FPKM>=0.5) <Expressed in all>”，“FPKM<0.5 in all tissues <Not detected>”六类。</p>
<p class="tremark"><b>（57）tissue_with_max_FPKM：</b> 该蛋白在正常人类非特异性表达的组织中最大表达量；数据库涉及正常人类组织（tissue）44个（按照字母顺序排列），每个组织包含1~5种具体的细胞类型（cell type），蛋白在每个细胞类型的表达情况根据免疫染色按“high”，“medium”，“low”，“not detected”进行记录，每个组织的表达量根据所包含的细胞类型中表达量的最高值，并以所折算的数字进行记录（“high”=3，“medium”=2，“low”=1，“not detected”=0），以示区分。</p>
<p class="tremark"><b>（58）Subcellular_Location：</b> 基因的亚细胞分布位置，如“nucleus”,“ mitochondria”等。</p>
<p class="tremark"><b>&nbsp;&nbsp;第59项以后为患者及正常人基因共有情况</b></p>
<p class="tremark"><b>（59）PatientSharedNumber：</b>变异位点在患者中共有的数目。</p>
<p class="tremark"><b>（60）NormalSharedNumber：</b>变异位点在非患者（对照）中共有的数目。</p>
