<p class="tremark"><b>（1）Gene 1:</b> 基因1</p>
<p class="tremark"><b>（2）Gene 2:</b> 基因2</p>
<p class="tremark"><b>（3）Weight:</b> 数据来源权重</p>
<p class="tremark"><b>（4）Type:</b> 网络所属类别,主要包括以下类别：</p>
<p class="tremark">&nbsp;&nbsp;&nbsp;Genetic interactions: 如果干扰一个基因对第二个基因也会有影响，则两个基因在功能上相关</p>
<p class="tremark">&nbsp;&nbsp;&nbsp;Pathway: 如果两个基因产物参与了一个通路中的相同反应，那么它们是相互联系的</p>
<p class="tremark">&nbsp;&nbsp;&nbsp;Physical interactions: 蛋白-蛋白相互作用数据，在蛋白质相互作用研究中发现两种基因产物相互作用</p>
<p class="tremark">&nbsp;&nbsp;&nbsp;Predicted: 通常通过蛋白相互作用来预测基因之间的功能关系,主要从直系同源的另一生物体已知功能关系进行关联预测</p>
<p class="tremark">&nbsp;&nbsp;&nbsp;Shared protein domains: 蛋白域数据，如果两个基因产物具有相同的蛋白质结构域，则它们是相互联系的</p>
<p class="tremark"><b>（5）Source:</b>蛋白质互作网络来源，格式为第一作者-最后作者-发表年限</p>